<script setup>
import { ref } from 'vue'
import axios from "axios";

defineProps({
  msg: String,
})

const count = ref(0)

console.log(await (await fetch("http://92.255.111.91/api/v1/catalog")).json());

axios.post("http://92.255.111.91/api/v1/registration/club", {
  "email": "руиарыиаоыиалоыкиа",
  "password": "ыормаидышокращжытал",
  "phoneNumber": "ылюокиаожытжкщатыжщктащшыктам",
  "name": "string",
  "city": "string",
  "personName": "string",
  "organizationName": "string",
  "INN": "string",
  "KPP": "string",
  "address": "string"
})
</script>

<template>

</template>

<style scoped>
.read-the-docs {
  color: #888;
}
</style>
